* {
    font-family: 'Roboto' sans-serif;
}

header {
    position: relative;

}

nav {
    text-align: center;
    height: 50px;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 2; 
}


.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    list-style-type: none;  
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;

}

.menu .menu_iteam {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_text {
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 6px;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    display: block;
    line-height: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    text-align: right;
    list-style: none;
}

.subheader .subheader_btn span {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.subheader .subheader_btn {
    margin-top: 18px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 172px;
    height: 46px;
}

.promo {
    min-height: 800px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    padding: 152px 0px 135px 0;
}

.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0;
}

.promo h2 {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    margin-top: 22px;
}

.promo .promo_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.promo .promo_btn span {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    font-size: 18px;
}

.uber {
    min-height: 849px;
    padding: 18px 0px 64px 0px;
}

.text_black_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.uber .text_black {
    /* display: flex; */
    width: 113px;
    height: 24px;
    background-color: black;
    text-align: center;
    line-height: 24px;
    /* justify-content: center;
    align-items: center; */
}

.uber .text_black span {
    display: block;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
        
}

.uber .text_black_flex .text_two {
    margin-top: 33px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 38px;

    color: #222222;
}

.uber .size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    margin-right: 25px;
    margin-left: 33px;
}

.uber .col-md-4 span {
    color: #1EACC7;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}

.uber .row
{
    align-items: center;
}

.uber .col-md-4
{
    margin-top: 16px;
}