* {
  font-family: "Roboto" sans-serif;
}

header {
  position: relative;
}

nav {
  text-align: center;
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 4;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 14px 70px;
  list-style-type: none;
}
.menu .menu_link {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu_iteam {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu .menu_iteam:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_text {
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-top: 6px;
}
.subheader .subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}
.subheader .subheader_phone {
  display: block;
  line-height: 30px;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  text-align: right;
  list-style: none;
}
.subheader_btn {
  margin-top: 18px;
  background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 172px;
  height: 46px;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}
.subheader_btn span {
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.hamburher {
  display: none;
}

.promo {
  min-height: 800px;
  background: url("../img/uber_bg.png") center center/cover no-repeat;
  padding: 152px 0px 135px 0;
}
.promo .promo_header {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  margin-bottom: 0;
}
.promo h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
  margin-top: 22px;
}
.promo .promo_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}
.promo_btn span {
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  font-size: 18px;
}

.uber {
  min-height: 849px;
  padding: 18px 0px 64px 0px;
}
.uber .text_black {
  width: 113px;
  height: 24px;
  background-color: black;
  text-align: center;
  line-height: 24px;
}
.uber .text_black span {
  display: block;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: white;
}
.uber .text_black_flex .text_two {
  margin-top: 33px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 38px;
  color: #222222;
}
.uber .wrapper {
  display: flex;
}
.uber .wrapper .photo {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.uber .wrapper .photo .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.uber .size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  background: #1eacc7;
  border-radius: 100%;
  margin-right: 25px;
  margin-left: 33px;
}
.uber .text {
  margin-top: 16px;
}
.uber .text span {
  color: #1eacc7;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}
.uber .row {
  align-items: center;
}

.text_black_flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  display: flex;
  background-color: black;
  width: 112px;
  height: 24px;
  color: white;
  font-weight: 400;
  font-size: 11px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 38px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.mobile {
  min-height: 861px;
  padding: 46px 0px 80px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_iteam {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_iteam_1 {
  background: url("../img/card1.png") center center/cover no-repeat;
}
.mobile_iteam_2 {
  background: url("../img/card2.png") center center/cover no-repeat;
}
.mobile_iteam_3 {
  background: url("../img/card3.png") center center/cover no-repeat;
}
.mobile_iteam_4 {
  background: url("../img/card4.png") center center/cover no-repeat;
}
.mobile_iteam_5 {
  background: url("../img/card5.png") center center/cover no-repeat;
}
.mobile_iteam_6 {
  background: url("../img/card6.png") center center/cover no-repeat;
}
.mobile_iteam_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.mobile_iteam_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_iteam_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_iteam_plus::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}
.mobile_iteam_plus:hover::before, .mobile_iteam_plus:hover::after {
  background-color: #FF5656;
}

.blak_car {
  position: relative;
  padding: 56px 0px 138px 0px;
  min-height: 895px;
  background: url("../img/podloshka.png") center center/cover no-repeat;
}
.blak_car .label {
  position: relative;
  background-color: white;
  color: black;
  z-index: 2;
}
.blak_car .title {
  position: relative;
  z-index: 2;
  color: white;
  margin-top: 27px;
}
.blak_car .subtitle {
  position: relative;
  z-index: 2;
  color: white;
  z-index: 2;
}
.blak_car .img {
  position: relative;
  display: block;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.blak_car .img img {
  width: 100%;
}
.blak_car_text {
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}
.blak_car .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.require {
  padding: 68px 0px 84px 0px;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  color: #1CA8C3;
  font-weight: 400;
  font-size: 22px;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icon/check_blue2.png") center center/cover no-repeat;
}
.require_descr {
  color: #1CA8C3;
  font-weight: 300;
  font-size: 17px;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li::before {
  background: url("../icon/check_red6.png") center center/cover no-repeat;
}

.black_fon {
  position: relative;
  min-height: 875px;
  padding: 46px 0px 46px 0px;
  background: url("../img/world_bg.png") center center/cover no-repeat;
}
.black_fon .label {
  background-color: white;
  color: black;
}
.black_fon .title {
  color: white;
  margin-top: 26px;
}
.black_fon .subtitle {
  color: white;
  margin-top: 2px;
}
.black_fon .last {
  position: relative;
  bottom: -630px;
  text-align: center;
  text-transform: uppercase;
}
.black_fon .last a {
  color: #1FBAD6;
}

.futer {
  min-height: 155px;
  padding: 11px 0px 11px 0px;
}
.futer .div_blev {
  margin: 0 auto;
  width: 299px;
  height: 4px;
  background: #1FBAD6;
}
.futer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 27px;
}
.futer .wrapper_icon .social_icon {
  padding: 0px 6px;
  display: flex;
}
.futer .wrapper_icon .social_icon a {
  display: flex;
  width: 35px;
  height: 35px;
  background: #070716;
  border-radius: 50%;
  margin: 0px 6px;
  align-items: center;
  justify-content: center;
}
.futer .wrapper_img {
  margin-right: 21px;
}
.futer .wrapper_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 111px;
}
.futer .wrapper_social a {
  padding: 0 10px;
  color: #070716;
  text-decoration: none;
}
.futer .social_text_link a {
  text-transform: uppercase;
  color: #999999;
  font-weight: 300;
  font-size: 11px;
  text-decoration: none;
  margin-top: 20px;
}
.futer .last a {
  font-weight: 400;
  font-size: 11px;
  color: #1fbad6;
  margin-top: 17px;
  text-decoration: none;
}

.subheader .xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu .menu_iteam {
    padding-right: 20px;
  }
  .menu .menu_link {
    font-size: 13px;
  }
  .promo .promo_header {
    font-size: 50px;
  }
  .col-md-4 {
    width: 31%;
  }
  .mobile_iteam {
    width: 212px;
  }
}
@media (max-width: 991px) {
  .menu .menu_iteam {
    padding-right: 8px;
  }
  .menu .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_text {
    font-size: 11px;
  }
  .subheader .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }
  .promo .promo_header {
    font-size: 30px;
    font-weight: 700;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }
  .uber .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .uber .wrapper .photo {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_iteam {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  .menu .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateX(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: rotate(45deg);
  }
  .subheader .xs-hidden {
    display: none;
  }
  .subheader .xs-visible {
    display: block;
  }
  .subheader .subheader_phone {
    display: block;
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
  }
  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .promo .promo_header {
    line-height: 45px;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  .hamburger {
    top: 10px;
  }
  .subheader {
    height: 60px;
    top: -21px;
  }
  .subheader_text {
    display: none;
  }
  .subheader_logo {
    margin-top: 17px;
  }
  .subheader .subheader_phone {
    font-weight: 400;
    font-size: 12px;
    margin-top: -6px;
    margin-right: 0px;
  }
  .subheader .subheader_btn {
    width: 110px;
    height: 22px;
    margin-top: 5px;
  }
  .subheader .subheader_btn span {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1px;
  }
  .subheader .row {
    justify-content: space-between;
  }
  .mobile .row {
    flex-direction: column;
    width: 100%;
  }
  .mobile .col-md-4 {
    width: 100%;
  }
  .futer .wrapper {
    flex-direction: column;
  }
  .promo {
    min-height: 400px;
    padding-bottom: 34px;
  }
  .promo .promo_text {
    display: none;
  }
  .promo .promo_header {
    padding: 53px 0px 35px 0px;
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo .promo_subheader {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 33px;
  }
  .promo .promo_btn {
    margin-top: 72px;
    width: 210px;
    height: 50px;
  }
  .menu {
    width: 85%;
  }
  .uber {
    padding: 22px 0px 36px 0px;
  }
  .uber .text_black_flex .text_two {
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 16px;
  }
  .uber .wrapper .photo .flex {
    margin-top: 26px;
    width: 100px;
    height: 100px;
  }
  .uber .text {
    width: 100%;
    margin-top: 27px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */